<header class="h-20 xs:h-36 bg-black text-white bebas">
	<div 
		class="
			w-10/12
			xs:w-full
			h-full
			mx-auto
			flex
			flex-row
			xs:flex-col
			items-center
		">
		<div id="logo" class="flex-1">
			<div
				class="
					group
					bg-azul-claro
					hover:text-black
					hover:bg-gray-400
					w-64
					text-center
					tracking-wider
					cursor-pointer
					overflow-hidden
					transition
					duration-300
					rounded-sm
					xs:mt-4
				"
			>
				<span
					class="
						symbol 
						block
						float-left
						text-3xl
						mt-1
						ml-11
						animate-spin-low
						group-hover:animate-none
						group-hover:animate-from-bellow
					"
				>
					S
				</span>
				<h3
					class="
						block
						float-right
						text-4xl
						mt-1.5
						mr-16
						transition
						duration-100
						group-hover:animate-from-right
					"
				>
					TAILWIND
				</h3>
			</div>
		</div>

		<nav class="flex-1">
			<ul
				class="
					flex
					flex-row
					h-20
					items-center
					justify-end
					text-2xl
					text-center
				"
			>
				<li class="menu-item">
					<a href="#" class="menu-item-a">INICIO</a>
				</li>
				<li class="menu-item">
					<a class="menu-item-a" href="#">BLOG</a>
				</li>
				<li class="menu-item">
					<a class="menu-item-a" href="#">FORMACION</a>
				</li>
				<li class="menu-item">
					<a class="menu-item-a" href="#">CONTACTO</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
